@model hentry.Models.task

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estimate_work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimate_work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estimate_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimate_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actual_work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actual_work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actual_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actual_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project1.identifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project1.identifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status1.status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status1.status1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
