@model hentry.Models.task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estimate_work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimate_work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estimate_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estimate_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actual_work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actual_work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actual_cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actual_cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.project1.identifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project1.identifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status1.status1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status1.status1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
