@model IEnumerable<hentry.Models.task>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { project = this.Request["project"] })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estimate_work)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estimate_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actual_work)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actual_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status1.status1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estimate_work)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estimate_cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actual_work)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actual_cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status1.status1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id, project=item.project }) |
            @Html.ActionLink("Details", "Details", new { id=item.id, project = item.project }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id, project = item.project })
        </td>
    </tr>
}

</table>
